{% extends "_layout.html" %}
{% load static %}

{% block form_content %}
<h4>Створення заходу</h4>

{% if formset.non_form_errors %}
<div class="card-panel red lighten-4 red-text text-darken-4">
    {{ formset.non_form_errors }}
</div>
{% endif %}

<form class="col s12" method="post" id="event-form">
    {% csrf_token %}

    <div class="row">
        <div class="input-field col s12 m6">
            {{ event_form.title }}
            <label for="{{ event_form.title.id_for_label }}">{{ event_form.title.label }}</label>
            {% if event_form.title.errors %}
            <span class="helper-text red-text">{{ event_form.title.errors.0 }}</span>
            {% endif %}
        </div>
        <div class="input-field col s12 m6">
            {{ event_form.date }}
            <label for="{{ event_form.date.id_for_label }}">{{ event_form.date.label }}</label>
            {% if event_form.date.errors %}
            <span class="helper-text red-text">{{ event_form.date.errors.0 }}</span>
            {% endif %}
        </div>
    </div>

    <h5>Учасники</h5>
    {{ formset.management_form }}

    <div id="participants-container">
        {% for form in formset %}
        <div class="participant-row row">
            <div class="input-field col s12 m10">
                {{ form.email }}
                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                {% if form.email.errors %}
                <span class="helper-text red-text">{{ form.email.errors.0 }}</span>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col s12">
            <button type="button" id="add-participant" class="btn waves-effect waves-light teal">
                <i class="material-icons left">person_add</i>Додати учасника
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <button type="submit" class="btn waves-effect waves-light indigo darken-4">
                <i class="material-icons left">event</i>Створити захід
            </button>
        </div>
    </div>
</form>

<script src="{% static 'js/event_form.js' %}"></script>
{% endblock form_content %}
